<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./about.component.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&family=Roboto+Condensed:wght@300&family=Roboto+Serif:wght@500&display=swap"
        rel="stylesheet">
</head>
<body>

    <!-- end navbar -->
    <section class="first_about">
        <div class="text_about">
            <div class="heading-about">
                <h1>Our Story</h1>
            </div>
            <p>AzureApartments.com is the largest and leading property marketplace in Kenya.
                Founded in 2012 and has since revolutionised the real estate industry in Kenya,
                by connecting buyers and sellers online in a highly convenient way make it a house name and around the world. </p>
        </div>


    </section>
    <section class="second_section">
        <div class="text_about">
            <div class="heading-about">
                <h1>What we do</h1>
            </div>
            <p>
            We connect buyers with sellers and tenants with landlords through a highly user-friendly real estate experience,

            bringing transparency and transforming our market through technology.
            The extensive properties, new projects and developments advertised offer variety for one when it comes to real estate.

            We are not estate agents,
            but a marketplace that offers the best place for property seekers to find details of all advertised properties available to buy, rent or sell in Kenya.

            Once you found a property you like, call or send your email enquiry through the form.
            If you need a little more help deciding, you can also read property guides from our local experts.

            </p>
        </div>
    </section>
</body>
</html>
