<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&family=Roboto+Condensed:wght@300&family=Roboto+Serif:wght@500&display=swap"
      rel="stylesheet">
</head>

<body>
  <section class="rental_first">

    <div class="rental_title" *ngFor=" let rental of rentals">
      <img src={{rental.img}} alt="">
      <p>{{rental['name']}}</p>
      <p>{{rental['price']}}</p>
      <button (click)="makePayment()" mat-raised-button>Pay</button>
    </div>

  </section>
</body>

</html>
