html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
.rental_info{
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
}

.row{
  margin-left: 25%;
  margin-top: 22%;
  width:60%;
  height: 300px;
}
.row_search{
width:20%;
height: 40px;

}
.renters{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;

}
.rent{
  border-bottom: 2px solid gray;
  font-weight: 700;
  line-height: 0;
  margin: 10px auto 20px;
  text-align: center;
}
.rent span{
background: #fff;
border: 1px solid #aaa;
border-radius: 2px;
color: #000a73;
font-size: 18px;
font-weight: 900;
letter-spacing: .8px;
padding: 1px 8px;
}
.heading{
  color: #121212;
font-size: 40px;
font-weight: 900;
line-height: 24px;
margin: 37px auto 38px;
text-align: center;
}


.text_p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height:40%;
  letter-spacing: 0.1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;

}
.search{
  margin-top: 2%;
  background-color:#fff;
  height: 35%;
  width: 30%;


}


.landlord{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}
.land_title{
  border-bottom: 1px solid #aaa;
color: #4e4e4e;
font-weight: 700;
line-height: 0;
margin: 10px auto 20px;
text-align: center;

}
.land_title span{
  background: #fff;
border: 1px solid #aaa;
border-radius: 2px;
color: #000a73;
font-size: 18px;
font-weight: 900;
letter-spacing: .8px;
padding: 1px 8px;
}
.land_info{
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  justify-content: space-around;

 gap: 8%;
 margin-left: 20%;
 background-color: beige;
}
.land_first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
/* .land_first p{
  text-align: center;
  font-size: 10px;
} */
.land_button{
  background-color:#fff;
  height: 35%;
  width: 50%;
  margin-left: 25%;
}
.land_info_second{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  justify-content: space-around;

 gap: 8%;
 margin-left: 20%;
 background-color: beige;
}
.land_info_third{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  justify-content: space-around;
 gap: 8%;
 margin-left: 20%;
 background-color: beige;
}
.land_list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
}


.rental_first{
margin-top: 17%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;
gap:30px;
flex-wrap: wrap;

overflow-x: hidden;
}

/* p{
  font-family: 'Noto Serif Display', serif;

  font-family: 'Oswald', sans-serif;

  font-family: 'Roboto', sans-serif;

  font-family: 'Roboto Condensed', sans-serif;

  font-family: 'Roboto Serif', serif;
  font-size: 20px;
} */

.rental_title{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 20%;
  align-items:center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rental_title img {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 265px;
  height: 250px;
}
.rental_title:hover {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.2);
}
 button{
  width:20%;
  border-radius: 4%;
  margin-bottom: 10%;
}
button:hover{
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.2);
}
h1{
  text-align: center;
}

