<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&family=Roboto+Condensed:wght@300&family=Roboto+Serif:wght@500&display=swap"
    rel="stylesheet">
</head>

<body>
  <section class="rental_info">
    <div class="mb-3 row">
      <label for="typeahead-prevent-manual-entry" class="col-xs-3 col-sm-auto col-form-label">Search for a House:</label>
      <div class="col">
        <input id="typeahead-prevent-manual-entry" type="text" class="form-control" placeholder="search for House.."/>
      </div>
    </div>
  </section>
  <section class="renters">
    <div class="rent">
      <span>FOR RENTERS</span>
    </div>
    <div class="heading">Let Our Search Begin.</div>
    <div class="text_p">
      Search thousands of up-to-date property listings on our easy-to-use website.
       Narrow down your options by choosing what's most important to you, such as number of bedrooms and bathrooms,
        price range, location, pet policy and more.
Parents can also search for rentals that fall within a particular school district.

    </div>
    <button class="search" mat-raised-button>Start My Search</button>
  </section>

<section class="landlord">
  <div class="land_title">
    <span>FOR LANDLORDS.</span>
  </div>
  <div class="heading">Simple and streamlined rental management all under a single roof.</div>
  <div class="land_info">
    <div class="land_first">
      <img src="../../../assets/images/img1.jpg" alt="" srcset="">
    </div>
    <div class="land_list">
      <h1>List your rental property</h1>

      <p>Post your rental property in minutes to reach millions of potential renters.</p>
      <button class="land_button" mat-raised-button>Add Listing</button>
    </div>

  </div>
  <div class="land_info_second">

    <div class="land_list">
      <h1>Screen potential tenants for FREE</h1>

      <p>Completed applications and reports are generated instantly and immediately shared with landlords.</p>
      <button class="land_button" mat-raised-button>Screen Tenants</button>
    </div>
    <div class="land_first">
      <img src="../../../assets/images/img2.jpg" class="image_two" alt="" srcset="">
    </div>
  </div>
  <div class="land_info_third">
    <div class="land_first">
      <img src="../../../assets/images/img3.jpg"  alt="" srcset="">
    </div>
    <div class="land_list">
      <h1>Collect rent online for FREE</h1>

      <p>Ready to never deposit a rent check again?
        Sign up for RentPay and receive rent on time each month from all your tenants.</p>
        <button class="land_button" mat-raised-button>Collect Rent</button>
    </div>

  </div>
</section>
  <section class="rental_first">

    <div  class="rental_title" *ngFor="let rental of rentals">

          <img src={{rental.img}} alt="">
          <p>{{rental['name']}}</p>
          <p>{{rental['price']}}</p>
          <button (click)="makePayment()" mat-raised-button>Pay</button>

    </div>

  </section>


</body>

</html>
