

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="navbar">
    <div class="text">
      <!-- <img src="../assets/images/834cb45870dd4a2835ee8e978218946f.png" alt=""> -->
      <h1>{{title}}</h1>
    </div>
    <div class="right_texts">
      <a mat-button routerLink="./about">About</a>
      <a mat-button  routerLink="./contact">Contact</a>
     
  </div>
  
  </section>






  <router-outlet></router-outlet>
<!-- the footer -->
<section class="footer">
  <div class="links">
      <div class="title">
          <h1>Links</h1>
      </div>
      <a href="http://">Home</a>
      <a href="http://">About</a>
      <a href="http://">Contact</a>
  </div>
  <div class="contact_footer">
      <div class="title">
          <h1>Contact</h1>
      </div>
      <span>Kiserian, Kajiado</span>
      <span>0702129493</span>
      <span>P.O Box 241-00100</span>

  </div>
  <div class="social_links">
      <div class="title">
          <h1>Social Media</h1>
      </div>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-envelope"></i>
      <i class="fa fa-twitter"></i>
  </div>

</section>
<div class="hrs"></div>
<footer id="footer">
  <div class="container" id="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Shoe Hub</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#container">Samuel Kimotho Githinji</a>
      </div>
    </div>
</footer>
</body>
</html>